.button {
    font-size: inherit;
    display: block;
    box-sizing: border-box;
    padding: 1em;
    margin: 0;
    border: 0;
    line-height: 1em;
    color: #fff;
    background-color: #e56500;
}
