.spinner {
  display: flex;
  font-size: .5rem;
}

.spinner > div {
  background-color: #e56500;
  height: 6em;
  width: 1em;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner > div + div {
  margin-left: .5em;
}

.spinner > div:nth-child(2) {
  animation-delay: -1.1s;
}

.spinner > div:nth-child(3) {
  animation-delay: -1.0s;
}

.spinner > div:nth-child(4) {
  animation-delay: -0.9s;
}

.spinner > div:nth-child(5) {
  animation-delay: -0.8s;
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
  }
}
